.navbar {
  padding: 0.75rem 1rem;
  background-color: #1976d2 !important
}

.navbar-brand span {
  font-size: 1.2rem;
}

.navbar-nav .nav-link {
  color: #1976d2 !important; /* bleu foncé lisible sur fond clair */
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-nav .nav-link:hover {
  color: #001a33 !important;
}

.btn {
  font-weight: 500;
  border-radius: 8px;
}
