<!--Possibilité d'ajouter un employé-->
<div class="container">
  <div class="ajout">
    <p class="text" class="col-lg-6 col-md-6 col-sm-7"><strong>Vous avez la possibilté d'ajouter un employee</strong></p>
    <button (click)="addEmployee()" class="col-lg-2 col-md-3 col-sm-5">➕ Ajouter</button>
  </div>
</div>


<!--la liste des employés-->
<h2>Liste des employés</h2>
<div class="employee-list">
  @if (employees.length === 0) {
    <strong>Aucun employé trouvé.</strong>
  } @else {
    <p><strong>Nombre d'employés : {{ employees.length }}</strong></p>
    @for (employee of employees; track employee.id) {
      <app-employee [employee]="employee"></app-employee>
    }
  }
</div>