.text-primary {
  color: #1976d2 !important;
}

.btn-primary {
  background-color: #1976d2;
  border-color: #1976d2;
}
.btn-primary:hover {
  background-color: #125ea2;
  border-color: #125ea2;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 118, 210, 0.5);
}